
<h1> LOGIN PAGE </h1>

<div>
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
    <input type="text" class="fortextbox" name="emailid" placeholder="Email ID" formControlName="emailid">
    <br/>

    <input type="password" class="fortextbox" name="password" placeholder="Password" formControlName="password">
    <br/>

    <input type="submit"[disabled] = "!formdata.valid" class="forsubmit" value="LOGIN">
  </form>
</div>
<p>Email ID Entered is {{emailid}} </p>

<router-outlet></router-outlet>
